NODE_ENV=production

# Server
PORT=3000
HOST=::
ACCESS_TOKEN_SECRET=***

# Docker:
EXTERNAL_POSTGRES_PORT=15432

# Database:
POSTGRES_DB=activity_ck_ua
POSTGRES_USER=active
POSTGRES_PASSWORD=***
DB_WRAPPER_TYPE=pg
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Hash
HASH_SECRET=***

# Authorization tokens
ACCESS_TOKEN_SECRET=***
ACCESS_TOKEN_LIFE=2h
REFRESH_TOKEN_SECRET=***
REFRESH_TOKEN_LIFE=7d

FIREBASE_TYPE=********
FIREBASE_PROJECT_ID=********
FIREBASE_PRIVATE_KEY_ID=********
FIREBASE_PRIVATE_KEY=********
FIREBASE_CLIENT_EMAIL=********
FIREBASE_CLIENT_ID=********
FIREBASE_AUTH_URI=********
FIREBASE_TOKEN_URI=********
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=********
FIREBASE_CLIENT_X509_CERT_URL=********

# Moderator
MODERATOR_NAME=test
MODERATOR_AVATAR=https://www.google.com/imgres?imgurl=https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png
MODERATOR_EMAIL=test@gmail.com
MODERATOR_PASSWORD=12345678

# Google authorization
GOOGLE_AUTH_CLIENT_ID=*********
GOOGLE_AUTH_CLIENT_SECRET=*********
GOOGLE_AUTH_REDIRECT_URL_REGISTRATION=*********
GOOGLE_AUTH_REDIRECT_URL_LOGIN=*********

# Facebook authorization
FACEBOOK_AUTH_APP_ID=********
FACEBOOK_AUTH_APP_SECRET=********
FACEBOOK_AUTH_REDIRECT_URL_REGISTRATION=********
FACEBOOK_AUTH_REDIRECT_URL_LOGIN=********
