# Server
PORT=3000
HOST=::
ACCESS_TOKEN_SECRET=***

# Docker:
EXTERNAL_POSTGRES_PORT=15432

# Database:
POSTGRES_DB=activity_ck_ua
POSTGRES_USER=active
POSTGRES_PASSWORD=12345
POSTGRES_HOST=db
POSTGRES_PORT=5432
DB_WRAPPER_TYPE=pg
