version: '3.7'
services:
  db:
    container_name: db
    image: postgres:13.1-alpine
    env_file: 
      - .env
    ports:
      - '$POSTGRES_PORT:$DOCKER_POSTGRES_PORT'
    volumes:
      - ./.data:/var/lib/postgresql/data

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - '18080:8080'

  node-app:
    image: node-app
    container_name: demo
    volumes:
      - ./src:/usr/src/app/src
    environment:
     - 'NODE_ENV=development'
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - '3000:$PORT'
      - '9222:9229' # bind inspector to local 9222
    command: run debug
    restart: always
