version: '3.7'
services:
  db:
    container_name: db
    image: postgres:13.1-alpine
    env_file: 
      - .env
    ports:
      - 15432:5432
    volumes:
      - ./.data:/var/lib/postgresql/data
      - ./src/db/migrate/init-sql:/docker-entrypoint-initdb.d

  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 18080:8080
